{% extends 'base.html.twig' %}

{% block body %}
    <h1>Timesheets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timeSheet in timeSheets %}
            <tr>
                <td><a href="{{ path('timesheet_show', { 'id': timeSheet.id }) }}">{{ timeSheet.id }}</a></td>
                <td>{{ timeSheet.time }}</td>
                <td>{{ timeSheet.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('timesheet_show', { 'id': timeSheet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('timesheet_edit', { 'id': timeSheet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('timesheet_new') }}">Create a new timeSheet</a>
        </li>
    </ul>
{% endblock %}
